* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.sideHeader img {
    width: 50px;
    height: 50px;
}

.navContainer img, .settingsContainer img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px auto;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    grid-row: 1 / 3;
    gap: 70px;
}

.sidebarHeader {
    display: grid;
}

.navContainer {
    display: grid;
}

.sideHeaderItem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 24px;
    font-weight: 800;
}

.navContainer div, .settingsContainer div, .sideHeader div {
    align-self: center;
}

.navItem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-weight: bolder;
}

.settingsContainer {
    display: grid;
}

.header {
    border: 1px black;
}

.main {
    background-color: grey;
}